body {
  height: 100vh;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(30, 37, 38, 1) 53%
  );
}

.inner {
  margin-left: 250px;
  margin-right: 250px;
}
.header {
  height: 420px;
}
.hero-banner {
  background-image: url(../img/davidcohen-EhSxbBCjr9A-unsplash.png);
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
}
.hero-text {
  color: white;
}

button {
  background-color: transparent; /* Green */
  border: none;
  color: rgba(242, 153, 153, 1);
  padding: 15px 32px;

  text-decoration: none;
  display: block;
  font-size: 16px;
  justify-content: space-between;
}
.browse :hover {
  border-bottom: solid rgba(242, 153, 153, 1);
}
.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 0%;
  padding-top: 0px;
}
#logo {
  display: inline-block;
  height: 80px;
  justify-content: space-between;
}
